@using common = IID.BusinessLayer.Globalization.Common.Resource
@{
    ViewBag.Title = "Site (Offline)";
}

@section contentHeader{
    <div id="contentHeader" class="breadcrumbs">
        <b>@common.Site:</b>
        <span id="breadCrumbSite"></span>
    </div>
}

<h2>Site</h2>

