@using login = IID.BusinessLayer.Globalization.Login.Resource

@{
    ViewBag.Title = login.ResetPassword;
}

<div>
    <h4>@login.ResetPassword</h4>
    <hr />

    <p>@login.ResetPasswordConfirmation</p>
    @Html.ActionLink(login.Login, "Login", "Account")
</div>